@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Baloo 2', cursive, sans-serif;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

.zig-zag-bg {
    background-color: #F4C430;
    background-image: 
        linear-gradient(135deg, #000000 25%, transparent 25%), 
        linear-gradient(225deg, #000000 25%, transparent 25%), 
        linear-gradient(45deg, #000000 25%, transparent 25%), 
        linear-gradient(315deg, #000000 25%, transparent 25%);
    background-position:  20px 0, 20px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat-x;
    background-position-y: bottom;
    height: 20px;
    width: 100%;
}
